@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>

<p>You will be redirected to the login page. If not please click <a href="./Login">here</a></p>