@page
@model Profile.Server.Pages.Supports.IndexModel
@{
    ViewData["Title"] = "Support";
}


<div class="card-deck">


    <div class="card rounded border-0 shadow">
      <div class="card-body">
        <h5 class="card-title text-center pb-3 border-bottom">Discussion</h5>
        <p class="card-text">You can join or start a discussion with other users</p>
        <h5 class="card-text text-muted mb-3">Coming Soosn</h5>
        <a href="#" class="btn btn-secondary disabled">Start Discussing</a>
      </div>
    </div>
  


    <div class="card rounded border-0 shadow">
      <div class="card-body">
        <h5 class="card-title text-center pb-3 border-bottom">Help</h5>
        <p class="card-text">You can find here the help you want</p>
        <h5 class="card-text text-muted mb-3">Coming Soosn</h5>
        <a href="#" class="btn btn-secondary disabled">Find Help</a>
      </div>
    </div>
  


    <div class="card rounded border-0 shadow">
      <div class="card-body">
        <h5 class="card-title text-center pb-3 border-bottom">Submit a ticket</h5>
        <h5 class="card-text text-muted mb-3">Coming Soosn</h5>
        <p class="card-text">If non of the other helped, you can always contact us by submitting a ticker</p>
        <a href="#" class="btn btn-secondary disabled">Create Ticket</a>
      </div>
    </div>
  

</div>



<script data-jsd-embedded data-key="3e90ba16-8bc2-4440-a0e9-d116e5539aac" data-base-url="https://jsd-widget.atlassian.com" src="https://jsd-widget.atlassian.com/assets/embed.js"></script>