<div style="position:absolute; top:30vh; width:100%; text-align:center">
    @if(Username != null && Username != "") { 
        <h2>Hello @Username</h2>
    }
    
    <h5>Making sure everything is fine</h5>
    <p><i class="fas fa-spin fa-spinner fa-5x"></i></p>
</div>


@code {
    [Parameter] public string Username { get; set; }
}