@using Profile.Client.Components
@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime

<div class="page">
    <div class="sidebar">
        
        <AuthorizeView>
            <Authorized>
                <NavMenu Username="@context.User.Identity.Name"/>
            </Authorized>
            <NotAuthorized>
                <NavMenu />
            </NotAuthorized>
        </AuthorizeView>
    </div>

    <div class="main">
        <div class="top-row px-4 auth">
            <LoginDisplay />
            @if (updateReady)
            {
              <p class="text-info mb-0">
              There is an update available. Reload when ready.
              </p>
            }
        </div>

        <div class="content px-2">
            @Body
        </div>
    </div>
</div>

<Freshchat IsHidden="@false"/>


@code {
    bool updateReady;
    private DotNetObjectReference<object> objRef;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(!firstRender) {
            await JSRuntime.InvokeAsync<object>("blazorFuncs.registerClient", objRef);
        }
      
    }

    [JSInvokable("onupdateavailable")]
    public async Task<string> AppUpdate()
    {
      Console.WriteLine("New version available");
      updateReady = true;
      StateHasChanged();
      return await Task.FromResult("Alerted client");
    }
}