@using Microsoft.AspNetCore.Authorization
@using Profile.Client.Components
@using Profile.Shared.Models
@inject Services.StateContainer StateContainer
@inject IHttpClientFactory ClientFactory
@inherits LayoutComponentBase
@attribute [AllowAnonymous]





<div class="page">
    <div class="sidebar m-2 shadow rounded bg-white">
        @if(Username != null && Username.Length > 0) {
            <Header Username="@Username"/>
        }

    </div>

    <div class="main">
        <div class="top-row px-2 mt-2 mx-1 shadow-sm">
            <a href="https://prfl.ga/about" target="_blank" class="ml-md-auto">About</a>
        </div>
        
        <div class="content">
            <div class="container">
                @Body
            </div>
            
        </div>
        <footer class="text-center mt-3">
            <a href="/">
                <img src="assets/logo/prfl-logo.svg" width="90px" height="30px"/>
            </a>
        </footer>
        
        @if(Username != null && Username.Length > 0) {
            <BottomNav Username="@Username" />
        }
        

    </div>
</div>
  



@code {
    public string Username { get; set; }

    protected override void OnAfterRender(bool firstRender){
        if(firstRender) {
            Username = StateContainer.Username;
            StateHasChanged();
        }
        
    }
}

       