@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Profile.Shared.Models
@inject NavigationManager NavigationManager
@inject HttpClient client

<div class="top-row px-2 pl-4 navbar navbar-dark">
    <a class="navbar-brand" href=""><img src="/assets/icons/account-outline-white.svg" class="pb-2"/> PRFL</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>



<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <AuthorizeView>
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="admin/dashboard" Match="NavLinkMatch.All" >
                        <span class="oi oi-graph" aria-hidden="true"></span> Dashboard
                    </NavLink>
                </li>

                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="admin/favorite" Match="NavLinkMatch.All" >
                        <span class="oi oi-star" aria-hidden="true"></span> Favorites
                    </NavLink>
                </li>

                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="admin/link" Match="NavLinkMatch.All">
                        <span class="oi oi-link-intact" aria-hidden="true"></span> Links
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="admin/account" Match="NavLinkMatch.All">
                        <span class="oi oi-person" aria-hidden="true"></span> Accounts
                    </NavLink>
                </li>
                @if(User != null && User.ProfileUserType == ProfileUserType.Default) {
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="admin/project" Match="NavLinkMatch.All">
                            <span class="oi oi-project" aria-hidden="true"></span> Projects
                        </NavLink>
                    </li>
                }
                else if(User != null && User.ProfileUserType == ProfileUserType.Trainer) {
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="admin/schedule" Match="NavLinkMatch.All">
                            <span class="oi oi-project" aria-hidden="true"></span> Schedules
                        </NavLink>
                    </li>
                }
                else {
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="admin/project" Match="NavLinkMatch.All">
                            <span class="oi oi-project" aria-hidden="true"></span> Projects
                        </NavLink>
                    </li>
                }
                
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="admin/video" Match="NavLinkMatch.All">
                        <span class="oi oi-video" aria-hidden="true"></span> Videos
                    </NavLink>
                </li>
                <li><hr class="dropdown-divider text-light"></li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" @onclick='@(() => Navigate("support"))' Match="NavLinkMatch.All">
                         Support
                    </NavLink>
                </li>
            </Authorized>
        </AuthorizeView>
    </ul>
</div>


@code {
    private bool collapseNavMenu = true;
    [Parameter] public string Username { get; set; }
    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    public User User { get; set; }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void Navigate(string url) {
        NavigationManager.NavigateTo(url, true);
    }

    protected override async Task OnParametersSetAsync() {
        if(Username != null) {
            User = await client.GetFromJsonAsync<User>($"api/user/u/{Username}");
        }
    }
}
