@page "/admin/settings/appearance"
@layout AppLayout
@using Profile.Client.Components.Prfl
@using Profile.Shared.Models
@inject IJSRuntime JSRuntime
@inject HttpClient client
@inject NavigationManager NavigationManager


<Title Value="Appearance"/>


<div class="card border-0 rounded shadow m-2 mt-4">
    <div class="card-body">
        <div class="row">
            <div class="col-5">
                <a>
                    @if(ProfileUser != null && !String.IsNullOrEmpty(ProfileUser.ImageUrl)) {
                        <img id="imageUrl" src="@ProfileUser.ImageUrl" alt="profile picture" class="rounded-circle" width="120px" height="120px"/>
                    }
                    else {
                        <img id="imageUrl" src="assets/icons/profile-picture.svg" alt="profile picture" width="120px" height="120px"/>
                    }
                    
                </a>
            </div>
            <div class="col mt-3 m-2">
                <div class="row  mb-2">
                    <button id="upload_widget"  class="button dark-blue" onclick="exampleJsFunctions.uploadImageCloudinary()">Add an Image</button>
                </div>
                <div class="row mb-2">
                    <button class="button grey" @onclick="RemoveImage">Remove</button>
                </div>
                
            </div>

        </div>
    </div>
</div>

@code {
    public static ProfileUser ProfileUser { get; set; }
    public static string BaseAddress { get; set; }
    private static string responseBody;
    protected override async Task OnInitializedAsync() {
        BaseAddress = client.BaseAddress.ToString();
        ProfileUser = await client.GetFromJsonAsync<ProfileUser>("api/user");
    }

    [JSInvokable]
    public static async void UploadImageCloundinary(string handle) {
        
        HttpClient client = new HttpClient();

        ProfileUser.ImageUrl = handle;
        
        var requestMessage = new HttpRequestMessage()
        {
            Method = new System.Net.Http.HttpMethod("PUT"),
            RequestUri = new Uri($"{BaseAddress}api/user/{ProfileUser.Id}"),
            Content =
                JsonContent.Create(ProfileUser)
        };
        var response = await client.SendAsync(requestMessage);
        var responseStatusCode = response.StatusCode;
        responseBody = await response.Content.ReadAsStringAsync();
    }

    public async void RemoveImage() {
        ProfileUser.ImageUrl = "";
        await client.PutAsJsonAsync($"api/user/{ProfileUser.Id}", ProfileUser);
    }

    /*protected override async Task OnAfterRenderAsync(bool firstRender) {
        if(firstRender) {
            Console.WriteLine("Rendering Cloudinary");
            await JSRuntime.InvokeVoidAsync("exampleJsFunctions.initCloudinary");
            Console.WriteLine("Cloudinary Rendered");
        }
    }*/
}